@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1 {
    position: absolute;
    left: 600px;
    bottom: 300px;
    font-size: 6rem;
    right: 300px;
    color: #F2D1D1;
}
.sidebar {
    position: fixed;
    left: 0;
    top: -10px;
    width: 250px;
    height: 110%;
    background: #FA9494;
}

.sidebar header {
    font-size: 22px;
    color: #F2D1D1;
    text-align: center;
    line-height: 70px;
    background: #787878;
    user-select: none;
    width: 100rem;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #423737;
    padding-left: 60px;
}

ul li:hover a {
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}

section {
    background: url();
}

.table{
    margin-left: 300px;
    position: absolute;
    top: 30%;
}

.table h3{
    margin-top: 40px;
}

.table tr td {
    color: #000000;
    background-color: #D61C4E;
    padding: 20px;
}

h4 a {
    border-radius: 25px;
    background-color: #D9D9D9;
    display: flex;
    text-align: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #D9D9D9;
}
a:hover{
    text-decoration: none;
    color: blue;
}

form{
   position: absolute;
   left: 20vw;
   top: 300px;
}
 .word{
    margin-top: -100px;
    margin-left: 400px;
}
 .word .tr .td{
    padding-bottom: 50px;
}
.word .tr .td:last-child {
    padding-left: 16px

}
  h3 {
    margin-top: -100px;
}